body {
  font-family: "Montserrat", sans-serif;
  margin: auto;
}

h2 {
  font-size: 2em;
  text-transform: capitalize;
  position: relative;
  width: max-content;
}

h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 5px;
  width: 50px;
  background: linear-gradient(90deg, #00ccff, #d400d4);
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 10;
}

header h1 {
  font-size: 1.3em;
  font-weight: 900;
  width: 50%;
}

nav {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  border-bottom: 2px solid transparent; /* Bordure transparente par défaut */
  transition: border-bottom 0.3s linear;
}

nav a:hover,
nav a:active {
  border-bottom: 2px solid #000; /* Bordure visible lors du survol ou du clic */
}

nav a.nav-active {
  border-bottom: 2px solid #000; /* Même style que pour les liens survolés ou actifs */
}

/* Home */

.introduction {
  margin: 100px 150px 0px 150px;
}

.front-title {
  font-weight: 900;
  font-size: 2.5em;
  width: 100%;
}

.front-about {
  width: 80%;
  font-weight: 400;
  color: rgb(75, 74, 74);
  margin-bottom: 30px;
}

.link-logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #ffffff;
  color: black;
  text-align: center;
  line-height: 50px;
  margin-right: 5px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.link-logo i,
.link-logo-footer i {
  font-size: 20px;
}

.link-logo:hover {
  background-color: black;
  color: white;
}

.profile-container {
  width: 200px;
  height: 200px;
}

.intro-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.intro-text {
  width: 55%;
}

.box {
  position: relative;
  width: 350px;
  height: 350px;
  background: black;
  border-radius: 50%;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  inset: -10px 140px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.box:hover::before {
  inset: -20px 0px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: #162052;
  border-radius: 50%;
  z-index: 1;
}
.box-content {
  position: absolute;
  inset: 30px;
  border: 6px solid #070a1c;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.box:hover .box-content img {
  opacity: 0;
}

.box-content h3 {
  position: relative;
  font-size: 1.3em;
  text-align: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.box-content span {
  font-weight: 300;
  font-size: 0.7em;
}

.box-content a {
  position: relative;
  margin-top: 5px;
  text-decoration: none;
  padding: 10px 20px;
  background: #fff;
  color: black;
  border-radius: 25px;
  font-weight: 500px;
}

.techstack {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.techstack p {
  font-weight: 600;
  margin-right: 25px;
}

.logo-techstack {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.logo-techstack img {
  height: 50px;
}

/* About */

.about {
  width: 100%;
  height: 450px;
  background: linear-gradient(to bottom, #162052, #27387c);
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.about p {
  width: 65%;
}

/* Services */

.services {
  margin: 80px 150px 150px 150px;
  padding-top: 70px;
}
.services-container {
  display: flex;
  justify-content: space-between;
}

.services-card {
  margin-top: 35px;
  width: 25%;
  height: 300px;
  padding: 25px;
}

.services-card:hover {
  box-shadow: 0 0 0 0.2rem rgb(229, 227, 227) inset;
  background-color: rgb(239, 242, 244);
}

.services-card img {
  height: 130px;
}

/* Projects */

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  background: linear-gradient(to bottom, #162052, #27387c);
  color: white;
  padding: 50px;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-top: 35px;
}

.project-card {
  width: 100%;
  height: 550px;
  background-color: #162052;
  border-radius: 15px;
}

.project-card-img-container {
  width: 100%;
  height: 325px;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.scroll-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  scrollbar-width: thin;
  scrollbar-color: #347eed #162052;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #162052;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #347eed;
  border-radius: 20px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #b412dc;
}

.project-card-img {
  width: 100%;
  object-fit: contain;
  object-position: top;
}

.project-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card-content h3 {
  margin: 15px 0px;
  font-size: 1.4em;
}

.project-card-content p {
  color: #c7c7c7;
  margin: 0px;
  text-align: center;
}

.project-card-tech {
  display: flex;
  margin-top: 15px;
}

.project-card-tech img {
  width: 45px;
  margin-right: 5px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(90deg, #b412dc, #347eed);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 15px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn i {
  font-size: 0.9em;
  margin-right: 5px;
  position: relative;
  z-index: 2;
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #347eed, #b412dc);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}

.btn:hover:before {
  opacity: 1;
}

/* Contact */

.contact {
  margin: 80px 15px 150px 150px;
  padding-top: 70px;
}

.form {
  width: 100%;
  margin-top: 50px;
  display: flex;
}

form {
  width: 50%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-group-name .form-group {
  width: 100%;
  margin-right: 25px;
}

.form-group-name .form-group:last-child {
  margin-right: 0;
}

.form label {
  color: #27387c;
  font-weight: 600;
  font-size: 1.1em;
}

.form input,
#input-message {
  height: 30px;
  width: 100%;
  font-size: 0.9em;
  padding: 6px;
  border: 2px solid transparent;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 0 5px 7px 0 rgba(189, 189, 192, 0.233),
    -3px -3px 2px 0 rgba(207, 207, 207, 0.075);
}

.form input:focus,
#input-message:focus {
  border: 2px solid #27387c;
  outline: none;
}

#input-message {
  resize: none;
  height: 100px;
  font-weight: 500;
  padding: 6px;
  font-family: "Montserrat", sans-serif;
  color: #000;
}

#form-button {
  background: #162052;
  color: #ffffff;
  border: none;
  padding: 8px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 500;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

#form-button:hover {
  background: #27387c;
}

.form-img {
  position: relative;
}

.form-img img {
  position: absolute;
  top: -40px;
  left: 20px;
}

/* Footer */

footer {
  height: 200px;
  background: #162052;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  color: white;
  font-size: 1.1em;
  font-weight: 500;
}

.link-logo-footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #162052;
  color: #fff;
  text-align: center;
  line-height: 50px;
  margin: 5px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.link-logo-footer:hover {
  background-color: #fff;
  color: #162052;
}

/* Smartphone & Tablet  */

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.7em;
  }

  .introduction,
  .services,
  .contact {
    margin: 35px 25px;
  }

  /*Header*/

  header {
    padding: 0 10px;
  }

  header h1 {
    font-size: 1em;
    width: auto;
  }

  nav {
    width: 260px;
  }

  nav a {
    font-size: 0.75em;
  }

  /* Home */

  .intro-container {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }

  .box-content h3 {
    font-size: 1.2em;
  }

  .intro-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .front-title {
    width: 100%;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 10px;
  }

  .front-about {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
  }

  .techstack {
    flex-direction: column;
    align-items: center;
  }

  .logo-techstack {
    width: 100%;
  }

  .logo-techstack img {
    height: 40px;
  }

  /* About */

  .about {
    height: 600px;
  }

  /* Services */

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services h2 {
    margin-bottom: 50px;
  }

  .services-container {
    flex-direction: column;
  }

  .services-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .services-card:hover {
    box-shadow: none;
    background-color: transparent;
  }

  .services-card p {
    text-align: center;
    margin: 0px;
  }

  /* Projects */

  .projects {
    padding: 50px 15px;
  }

  .project-card {
    height: auto;
  }

  .project-card-img-container {
    height: 200px;
  }

  .project-card-content {
    padding: 20px;
  }

  .project-card-content h3 {
    font-size: 1.3em;
  }

  .project-card-tech img {
    width: 40px;
  }
}

/* PC small resolution */

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .introduction,
  .services,
  .contact {
    margin-left: 50px;
    margin-right: 50px;
  }

  /* Services*/

  .services-card img {
    height: 110px;
  }
}

/* Tablette exception */

@media screen and (min-width: 481px) and (max-width: 768px) {
  .logo-techstack {
    width: 65%;
  }
}

/* Exceptions */

@media screen and (max-width: 1024px) {
  .contact {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form {
    flex-direction: column-reverse;
    margin-top: 0px;
  }

  form {
    width: 100%;
  }

  .form-img {
    position: static;
    display: flex;
    justify-content: center;
  }

  .form-img img {
    position: static;
    width: auto;
    height: 320px;
  }

  .form input,
  #input-message {
    padding: 0px 0px 0px 4px;
  }

  .box {
    width: 300px;
    height: 300px;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
  }
}
